@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&family=New+Amsterdam&family=Orbitron:wght@400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sirin+Stencil&family=Yesteryear&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: bm;
    src: url(./font/BlackMango-Black.otf);
}
/*imagenes*/
.product-gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 1000px;
}

.product-item {
    color: black;
    position: relative;
    width: calc(33.33% - 20px);
    height: 900px;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.product-info {
    position: absolute;
    z-index: 3;
    display: flex;
    flex-direction: column;
    text-align: left;
    color: rgb(255, 255, 255);

}

/* Estilos para el nuevo elemento de sombra */
.shadow {
    position: absolute;
    width: 1000px; /* Ajusta el tamaño de la sombra */
    height: 1000px;
    border-radius: 40%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.384), transparent 80%); /* Efecto difuminado circular más suave */
    z-index: 2; /* Asegura que la sombra esté detrás del texto */
    pointer-events: none; /* Permite que los clics pasen a través de la sombra */
}

.shadow.left {
    bottom: 30px;
    right: 20px; /* Ajusta la sombra a la derecha */
  
}

.shadow.right {
    bottom: 30px;
    left: 20px; /* Ajusta la sombra a la izquierda */
}

/* Posicionamiento alternado del texto y botón */
.product-info.left {
    bottom: 20px;
    left: 20px;
    text-align: left; /* Alinea el texto a la izquierda */
}

.product-info.right {
    bottom: 20px;
    right: 20px;
    text-align: right; /* Alinea el texto a la derecha */
}

.category {
    color: #ffffff;
    font-size: 20px;
    margin: 5px 0;
}

.product-title {
    font-size: 50px;
    margin: 10px 0;
}

.buy-button {
    background-color: #000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    z-index: 2;
    align-self: flex-start; /* Asegura que el botón se alinee con el texto */
}

.product-info.right .buy-button {
    margin-left: auto; /* Mueve el botón al final del texto alineado a la derecha */
}

.buy-button:hover {
    background-color: #444;
}

/* Media Queries para Responsividad */

/* Para pantallas medianas (tablets) */
@media (max-width: 992px) {
    .product-item {
        width: calc(50% - 20px);
        height: 400px;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 576px) {
    .product-item {
        width: 100%;
        margin: 10px 0;
        height: 300px;
    }

    .product-title {
        font-size: 18px;
    }

    .buy-button {
        padding: 8px 16px;
        font-size: 14px;
    }
}
/*end imagenes*/

/*Estilos del cart*/
.cart-container {
    font-family: "New Amsterdam", sans-serif;
    color: #000000;
    font-size: 1.5rem;
    width: 80%;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.cart-item:last-child {
    border-bottom: none;
}

.img-card {
    width: 100px;
    height: auto;
    border-radius: 8px;
    margin-right: 15px;
}

.item-details {
    flex: 1;
    margin-right: 15px;
}

.item-details div {
    margin-bottom: 5px;
}

.item-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 5px;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
}

.btn:hover {
    opacity: 0.9;
}

.quantity-form {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.quantity-input {

    width: 100px;
    text-align: center;
}

.total {
    text-align: right;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}
/*fin cart*/

h1{
    font-family: bm;
}

body{
    /* background: url(../img/stars-bg.png); */
    color: rgb(184, 182, 182);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
.bg-star{
    background: url(../img/stars-bg.png);

    color: rgb(184, 182, 182);
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.nav-bar{
    background: #ffffff;
    box-shadow: 0px 8px 30px 0px rgba(0, 0, 0, 0.586);
    display: flex;
    justify-content: space-between;
    padding: .5rem 3rem;
    /* font-size: 18px; */
}
.barra {
    background-color: #ff6961;
    color: white;
    font-size: 16px;
    /* font-weight: bold; */
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 20px rgba(255, 0, 0, 0.489);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50px; /* Define una altura para la barra */
    overflow: hidden;
    width: 100%; /* Asegura que la barra ocupe todo el ancho */
}
.barra1 {
    background-color: #0461da;
    color: white;
    font-size: 16px;
    /* font-weight: bold; */
    position: relative;
    z-index: 10;
    box-shadow: 0 2px 20px rgba(1, 190, 248, 0.489);
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 50px; /* Define una altura para la barra */
    overflow: hidden;
    width: 100%; /* Asegura que la barra ocupe todo el ancho */
}

.text-wrapper {
    font-family: "Orbitron", sans-serif;
    font-size: 1rem;
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    text-align: center; /* Centra el texto horizontalmente */
}

#cambio-texto {
    display: inline-block;
    position: relative;
    transition: transform 1s ease-in-out;
}


.logo{
    display: inline-block;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
#name{
    display: inline-block;
}
.logo .star{
    width: 50px;
    object-fit: cover;
    margin-right: 4px;
}

.menu-items{
    display: flex;
    gap: 2rem;
}

li{
    list-style: none;
    text-transform: capitalize;
}

a{
    font-family: "New Amsterdam", sans-serif;
    text-decoration: none;
    color: #000000;
    font-size: 22px;
    display: block;
    transition: .3s ease;
}

a:hover{
    text-decoration: underline;
    transform: scale(1.1);
}
.icon {
    max-width: 40px;
    max-height: 40px;
    margin-right: 8px;
}
/* Estilo del contenedor del ícono y el texto */
.icon-text {
    font-family: "New Amsterdam", sans-serif;
    display: flex;
    align-items: center; /* Alinea el texto verticalmente en el centro de la imagen */
    gap: 8px; /* Espacio entre la imagen y el texto */
}
.dropdown-content {
    font-family: "New Amsterdam", sans-serif;
    display: flex;
    align-items: center; /* Alinea el texto verticalmente en el centro de la imagen */
    gap: 8px; /* Espacio entre la imagen y el texto */
}


.dropdown-content {
    display: none;
    position: relative;
    background-color: #ffffff;
    min-width: 160px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content li {
    padding: 5px 0px;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown-content li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
    font-size: 15px;
    transition: background-color 0.5s ease, border-radius 0.5s ease;
}
.dropdown-content img{
    max-width: 50px;
    max-height: 50px;
    margin-right: 8px;
}

.dropdown-content li a:hover {
    background-color: #ffc9c9;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.446);
    border-radius: 8px;  /* Redondear bordes */
}
/* Estilos para el contenedor del banner */
.banner {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 100%;
    height: 800px; /* Ajusta la altura según tus necesidades */
    position: relative;
    overflow: hidden;
    z-index: 1; /* Asegura que el banner esté en una capa baja */
}

button.prev, button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    height: 800px;
    padding: 5px;
    cursor: pointer;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}


/* Estilos para las diapositivas */
.slides {
    width: 100%;
    height: 95%;
    position: relative;
    z-index: 1; /* Asegura que las diapositivas estén en una capa inferior */
    pointer-events: none; /* Permite que los clics pasen a través de la imagen */

}

/* Estilos para cada diapositiva */
.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(1);
    transition: transform 1s ease, opacity 1s ease;
    z-index: 1; /* Asegura que la diapositiva esté en una capa inferior */
    pointer-events: none; /* Permite que los clics pasen a través de la imagen */

}

/* Estilos para la imagen de la diapositiva */
.slide img {
    width: 100%;
    height: 800px;
    object-fit: cover; /* Asegura que la imagen cubra todo el contenedor */
    object-position: center top; /* Centra horizontalmente y ajusta verticalmente hacia arriba */
    z-index: 1; /* Asegura que la imagen esté en una capa inferior */
    pointer-events: none; /* Permite que los clics pasen a través de la imagen */
}

/* Estilo para la diapositiva activa */
.slide.active {
    opacity: 1;
    transform: scale(1.1); /* Expande ligeramente la imagen */
    z-index: 1; /* Asegura que la diapositiva activa esté en la capa inferior */
    pointer-events: none; /* Permite que los clics pasen a través de la imagen */

}

/* Estilo para la diapositiva anterior */
.slide.old {
    opacity: 0;
    transform: scale(1.5); /* Expande más la imagen antes de desvanecerse */
    pointer-events: none; /* Permite que los clics pasen a través de la imagen */

}

/* Estilos para el texto sobre la imagen del banner */
.text-overlay {
    position: absolute;
    bottom: 60%; /* Ajusta la distancia desde el borde inferior */
    left: 35%;   /* Ajusta la distancia desde el borde izquierdo */
    transform: translate(-50%, -50%);
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.text-overlay h1 {
    margin: 0;
    font-size: 2.5em;
}

.text-overlay p {
    margin-top: 10px;
    font-size: 1.2em;
    line-height: 1.4; /* Mejora el espaciado de las líneas */
} 

/* Estilos para el botón */
.button-link {
    position: absolute; /* Permite posicionar el botón en relación al contenedor de la imagen */
    bottom: 50%; /* Ajusta este valor para subir o bajar el botón */
    left: 25%; /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Ajusta el botón para que esté centrado */
    text-decoration: none; /* Quita el subrayado del enlace */
    z-index: 10; /* Asegura que el botón esté en la capa superior */
    pointer-events: auto; /* Asegura que el botón pueda recibir clics */
}

.button-link button {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto del botón */
}

/* Estilos al pasar el ratón por encima del botón */
.button-link button:hover {
    background-color: #0056b3; /* Cambia solo el color al pasar el ratón */
}


/* Estilos para el texto sobre la imagen banner 2 */
.text-overlay1 {
    position: absolute;
    bottom: 30%; /* Ajusta la distancia desde el borde inferior */
    left: 65%;   /* Ajusta la distancia desde el borde izquierdo */
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.text-overlay1 h1 {
    margin: 0;
    font-size: 2.5em;
}

.text-overlay1 p {
    margin-top: 10px;
    font-size: .8em;
} 
/* Estilos para el botón */
.button-link1 {
    position: absolute; /* Permite posicionar el botón en relación al contenedor de la imagen */
    bottom: 20%; /* Ajusta este valor para subir o bajar el botón */
    left: 70%; /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Ajusta el botón para que esté centrado */
    text-decoration: none; /* Quita el subrayado del enlace */
    z-index: 10; /* Asegura que el botón esté en la capa superior */
    pointer-events: auto; /* Asegura que el botón pueda recibir clics */
}

.button-link1 button {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto del botón */
}

/* Estilos al pasar el ratón por encima del botón */
.button-link1 button:hover {
    background-color: #0056b3; /* Cambia solo el color al pasar el ratón */
}

/* Estilos para el texto sobre la imagen banner 3 */
.text-overlay2 {
    position: absolute;
    bottom: 60%; /* Ajusta la distancia desde el borde inferior */
    left: 10%;   /* Ajusta la distancia desde el borde izquierdo */
    font-size: 2em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.text-overlay2 h1 {
    margin: 0;
    font-size: 2.5em;
}

.text-overlay2 p {
    margin-top: 10px;
    font-size: .8em;
} 
/* Estilos para el botón */
.button-link2 {
    position: absolute; /* Permite posicionar el botón en relación al contenedor de la imagen */
    bottom: 50%; /* Ajusta este valor para subir o bajar el botón */
    left: 20%; /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Ajusta el botón para que esté centrado */
    text-decoration: none; /* Quita el subrayado del enlace */
    z-index: 10; /* Asegura que el botón esté en la capa superior */
    pointer-events: auto; /* Asegura que el botón pueda recibir clics */
}

.button-link2 button {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto del botón */
}

/* Estilos al pasar el ratón por encima del botón */
.button-link2 button:hover {
    background-color: #0056b3; /* Cambia solo el color al pasar el ratón */
}

/* Estilos para el texto sobre la imagen banner 4 */
.text-overlay3 {
    position: absolute;
    bottom: 40%;
    left: 15%;
    width: 100%; /* Ocupa el ancho completo de la diapositiva */
    text-align: center; /* Alinea el texto al centro */
    color: white; /* Asegura que el texto sea visible */
    padding: 10px; /* Espacio alrededor del texto */
}

.text-overlay3 h1 {
    margin: 0;
    font-size: 2.5em;
}

.text-overlay3 p {
    margin-top: 10px;
    font-size: 1.2em; /* Ajusta el tamaño de la fuente según sea necesario */
    line-height: 1.5em; /* Aumenta la altura de línea para mejorar la legibilidad */
}
/* Estilos para el botón */
.button-link3 {
    position: absolute; /* Permite posicionar el botón en relación al contenedor de la imagen */
    bottom: 25%; /* Ajusta este valor para subir o bajar el botón */
    left: 25%; /* Centra horizontalmente el botón */
    transform: translateX(-50%); /* Ajusta el botón para que esté centrado */
    text-decoration: none; /* Quita el subrayado del enlace */
    z-index: 10; /* Asegura que el botón esté en la capa superior */
    pointer-events: auto; /* Asegura que el botón pueda recibir clics */
}

.button-link3 button {
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1em;
    color: white;
    border-radius: 5px;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el ancho y alto del botón */
}

/* Estilos al pasar el ratón por encima del botón */
.button-link3 button:hover {
    background-color: #0056b3; /* Cambia solo el color al pasar el ratón */
}
/* Estilos para el texto sobre la imagen banner 5 */
.text-overlay4 {
    position: absolute;
    bottom: 10px; /* Ajusta la distancia desde el borde inferior */
    left: 35%;   /* Ajusta la distancia desde el borde izquierdo */
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.text-overlay4 h1 {
    margin: 0;
    font-size: 2.5em;
}

.text-overlay4 p {
    margin-top: 10px;
    font-size: 1.2em;
} 
/* End texto banners*/
section{
    height: 100vh;
    padding: 3rem;
}

.section-one{
    height: calc(70vh - 85px);
}

.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    align-items: center;
    max-width: 1300px;
}

.gold{
    height: 600px;
    width: 600px;
    object-fit: cover;
}
.title{
    line-height: 1.2;
}
.title h1{
    font-family: 'Bungee Tint', sans-serif;
    font-weight: 1000;
    font-style: normal;
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    text-align: justify; /* Justifica el texto */
}

.title .star{
    width: 40px;
}

p{
    color: #fff;
    font-family: "Sirin Stencil", sans-serif;
    font-size: 20px;
    font-weight: 600;
    max-width: 400px;
}

.p{
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    color: #fff;
    padding: 2rem 0;
}

button{
    border: none;
    outline: none;
    background: linear-gradient(to right, 
    #000000 , #000000
    );
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s ease;
}

button::after{
    font: normal normal normal 14px/1 FontAwesome;
    content: '\e098';
    margin-left: 1rem;
}

button:hover{
    background: linear-gradient(to right, #0a2f4c, #075886);
}

.glow{
    filter: drop-shadow(-20px 0px 1.75em rgb(81,147,194));
}


.right-side{
    justify-self: flex-end;
}

.title h2{
    font-size: 24px;
    opacity: .5;
    color: #b8101a;

}

.line{
    width: 100%;
    background-color: rgb(184, 182, 182);
    height: 2px;
    margin-top: 1rem;
}

.gold3{
    width: 450px;
    height: 450px;
    object-fit: cover;
}

.type{
    padding: 1rem 0;
}

.type :first-child{
    font-size: 18px;
}

.g-type{
    color: #0152fc;
}

.line-blue{
    background-color: #0152fc;
}
/* Estilos para el contenedor del mapa */
#map {
    height: 500px;
    width: 100%;
    border-radius: 8px;
    margin-top: 20px;
}

.carousel-header {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 20px; /* Espacio debajo del encabezado */
    display: flex; /* Utiliza Flexbox para centrar contenido */
    flex-direction: column; /* Alinea elementos en columna */
    align-items: center; /* Centra horizontalmente */
    justify-content: center; /* Centra verticalmente */
}

.main-title {
    font-size: 24px;
    font-weight: bold; /* Negritas para "Lo Más Vendido" */
    margin: 0;
}

.sub-title {
    font-size: 16px;
    color: #666; /* Color más claro para "MauCap" */
    margin: 5px 0; /* Ajuste de margen para centrarlo debajo del título */}

#blanco{
    height: auto;
    width: 100%;
    background-color: white; /* Fondo blanco para toda la sección */
    padding: 20px 0; /* Espacio superior e inferior */
    box-sizing: border-box; /* Incluye el padding dentro del ancho total */
    margin: 0; /* Elimina cualquier margen */
    text-align: center; /* Centra el contenido */
}
/* Estilos para la sección del carrusel */
.swiper-container {
    background-color: white; /* Fondo blanco para el carrusel */
    padding: 20px 0; /* Añadir un poco de espacio arriba y abajo */
    justify-content: center; /* Centra el carrusel horizontalmente en la página */
}

/* Estilos para cada tarjeta del producto */
.card-container {
    width: 300px; /* Aumenta el tamaño de las tarjetas */
    height: 400px; /* Ajusta la altura de las tarjetas */
    margin: 0 auto; /* Centra las tarjetas */
    overflow: hidden; /* Oculta cualquier contenido desbordante */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para un efecto elevado */
    border-radius: 8px; /* Bordes redondeados */
    text-align: center; /* Centra el texto */
        cursor: pointer;
        transition: transform 1s ease, background 0.8s ease, box-shadow 0.3s ease; /* Añadida la transición de sombra */}
    



/* Ajustar la imagen dentro de la tarjeta */
.img-card {
    width: 300px;
    height: auto;
    max-height: 250px; /* Asegura que la imagen no sea demasiado alta */
    object-fit: cover; /* Ajusta la imagen sin distorsionarla */
}

/* Ajusta el espacio entre las diapositivas */
.swiper-slide {
    width: auto; /* Ajusta automáticamente el ancho */
    margin-right: 10px; /* Reduce el espacio entre las tarjetas */
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

/*modal*/
.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Añadir padding para que el modal no toque los bordes de la pantalla */
}

.modal-content {
    background-color: #fff;
    border-radius: 12px; /* Incrementar el redondeo de los bordes para suavizar */
    overflow: hidden;
    display: flex;
    flex-direction: row;
    max-width: 1500px; /* Incrementar el tamaño máximo del modal */
    width: 95%; /* Ajustar el ancho a un 95% para pantallas más pequeñas */
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra para dar profundidad */
}

.modal-left, .modal-right {
    flex: 1;
    padding: 50px; /* Incrementar el padding para más espacio */
    text-align: left; /* Alinear el texto a la izquierda */
}

.modal-right {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar horizontalmente el contenido */
    justify-content: center; /* Centrar verticalmente el contenido */
    gap: 20px; /* Añadir espacio entre los elementos */
}

.product-header {
    display: flex; /* Muestra el nombre y el precio en una sola línea */
    align-items: center; /* Alinea verticalmente al centro */
    gap: 15px; /* Añade espacio entre el nombre y el precio */
    margin-bottom: 20px; /* Añade un margen inferior para separar del resto del contenido */
}

#modalName {
    font-size: 50px; /* Ajusta el tamaño de la fuente del nombre */
    font-weight: bold;
    color: #d32f2f; /* Cambia el color del nombre si es necesario */
    margin: 0; /* Elimina el margen del título */
}

#modalPrice {
    font-size: 15px; /* Ajusta el tamaño de la fuente del precio */
    color: #187401; /* Color del precio */
    margin: 0; /* Elimina el margen del precio */
}

#modalDescription{
    color: #000;
}

input[type="range"] {
    width: 100%; /* Aumenta el ancho del control deslizante */
    margin: 10px 0; /* Añade margen para separar de otros elementos */
    cursor: pointer;
}

#quantityValue {
    font-weight: bold; /* Resalta el valor de la cantidad seleccionada */
    margin-left: 5px; /* Añade margen a la izquierda del valor */
}


#comment {
    width: 100%; /* Aumenta el ancho del campo de texto para ocupar todo el contenedor */
    max-width: 900px; /* Define un ancho máximo para el campo de texto */
    height: 100px; /* Aumenta la altura del campo de texto */
    padding: 10px; /* Añade espacio interno para mejorar la legibilidad */
    border: 1px solid #491414;
    border-radius: 4px;
    resize: vertical; /* Permite que el usuario ajuste la altura */
}



.modal-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px; /* Añadir margen inferior para separar la imagen del resto del contenido */
}

.close {
    position: absolute;
    top: 15px; /* Ajustar la posición para que esté más cerca del borde superior */
    right: 15px; /* Ajustar la posición para que esté más cerca del borde derecho */
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: #000;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 15px; /* Incrementar margen superior */
    gap: 10px; /* Añadir espacio entre los botones y el input */
}

.quantity-controls button {
    background-color: #eee;
    border: none;
    padding: 8px 12px; /* Incrementar el tamaño del botón */
    cursor: pointer;
    border-radius: 4px; /* Suavizar los bordes de los botones */
}

.quantity-controls button:hover {
    background-color: #ddd;
}

.quantity-controls input {
    width: 60px; /* Incrementar el ancho del input */
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 15px;
}

.rating input {
    display: none; /* Oculta los elementos de entrada */
}

.rating label {
    font-size: 24px;
    color: #ccc; /* Color de las estrellas sin seleccionar */
    cursor: pointer;
    transition: color 0.3s;
}

.rating input:checked ~ label,
.rating label:hover,
.rating label:hover ~ label {
    color: gold; /* Color de las estrellas seleccionadas */
}
.filled-star {
    color: gold; /* Color de estrellas llenas */
}

.empty-star {
    color: lightgray; /* Color de estrellas vacías */
}

.review {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


/*end modal products*/


.card-1{
    background: linear-gradient(to right,
    #3f4c6b80 , #535e7981
    );
}
.card-2{
    background: linear-gradient(to right,
    #3f4c6b80 , #535e7981
    );
}
.card-3{
    background: linear-gradient(to right,
    #3f4c6b80 , #535e7981
    );
}

.card:hover {
    background: linear-gradient(to left, #3a7bd58e, #00d0ff8c);
    transform: scale(10) rotate(2deg); /* Aumenta el tamaño y añade una ligera rotación */
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.2); /* Agrega una sombra suave */
}


.color{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: .5rem;
}

.card span{
    text-transform: uppercase;
    font-weight: 200;
    color: #000000;
}

.card:hover .color{
    color: #000000;
}

.txt{
    font-size: 24px;
}

.txt span{
    color: #0152fc;
}

.sides{
    padding-top: 5rem;
}

.menu{
    color: white;
    display: flex;
    max-width: 400px;
    flex-wrap: wrap;
    gap: 1rem;
}
#white{
    color: white;
}

#red{
    font-family: 'Bungee Tint', sans-serif;
 
}
.menu li{
    color: white;
    width: 30%;
}

.footer-section{
    height: auto;
    background-color: #0057b333;
}

footer{
    padding: 3rem;
    background-color: #0057b333;

}

.section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh; /* Altura completa de la vista */
    padding: 20px; /* Margen alrededor de la sección */
}

.seccion{
    background-color: #0057b333; /* Fondo para la tarjeta */
    padding: 30px; /* Espaciado interno */
    margin: 20px auto; /* Margen alrededor de la tarjeta y centrar horizontalmente */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para dar efecto de tarjeta */
    width: 80%; /* Define un ancho base del 80% del contenedor padre */
    max-width: 1200px; /* Ancho máximo para limitar la expansión */
    height: auto; /* Altura automática para expandirse según el contenido */
    
}
.titulo {
    font-size: 2rem;
    text-align: center; /* Centra el título horizontalmente */
    margin-bottom: 20px; /* Espacio debajo del título */
}

.texto {
    font-size: 1.2rem;
    text-align: justify; /* Justifica el texto para que se ajuste al ancho */
    line-height: 1.6; /* Espacio entre líneas para mejorar la legibilidad */
    margin: 0 auto; /* Centra el texto dentro del contenedor */
    max-width: 800px; /* Limita el ancho máximo del texto */
}

.center{
    justify-self: center;
}

.star-s2{
    position: absolute;
    width: 65px;
    right: -2%;
}

.star-s4{
    width: 65px;
    position: absolute;
    left: -2%;
    margin-top: 2.5rem;
}

.star-s5{
    position: absolute;
    left: 40%;
    width: 40px;
}

.image{

    animation: float 4s ease-in-out infinite;
}


@keyframes float {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translateY(0px);
    }
    
}
@keyframes slideAnimation {
    0% { transform: translateX(0%); }
    33% { transform: translateX(-100%); }
    66% { transform: translateX(-200%); }
    100% { transform: translateX(0%); }
}